body{
    font-family: sans-serif;
    text-align: center;
}

section{
    width: 100%;
    max-width: 50rem;
    margin: 4rem auto;
}

#main-image{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#carausel-example{
    width: 100%;
    max-width: 50rem;
    height: 30rem;
    margin: 4rem auto;
}

#carausel-example img{
    height: 30rem;
    object-fit: cover;
}

#newsletter{
    max-width: 30rem;
    margin: 10rem auto;
}

/*#navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0%;
    left: 0%;
}*/